{{#if order}}
    <div class="view-title">
        <span class="t">{{order.OrderTime.Submit}}</span>
        <span class="t">订单号:{{order.OrderNo}}</span>
        <span class="t">状态:{{order.OrderStatusName}}</span>
        <span class="t">订单金额:￥{{order.TotalPrice}}</span>
    </div>
    <div class="view-content">
        <table>
            <tr>
                <td class="goods-area">
                  {{#each order.Vendors.Goods as |goods|}}
                      <div class="goods-view">
                          <table>
                              <tr>
                                  <td class="goods-img">
                                    {{img-loader tagName="div" original=(file-path goods.Photo 4)}}
                                  </td>
                                  <td class="goods-desc">
                                      <p class="name">{{goods.Name}}</p>
                                      <p>&times;{{goods.Num}}</p>
                                      <p>{{goods.PriceShow}}</p>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  {{/each}}
                </td>
              {{#unless onlyShow}}
                {{#if order.CloseReason}}
                    <td class="operation-area text-center" style="vertical-align: middle;">
                      {{order.CloseReason}}
                    </td>
                {{/if}}
                  <td class="operation-area">
                      <button class="button button-block" {{action "operate" "detail"}}>订单详情</button>
                    {{#if showOutTicket}}
                        <button class="button button-block" {{action "operate" "outTicket"}}>发货/出票</button>
                    {{/if}}
                    {{#if showCancel}}
                        <button class="button button-block" {{action "operate" "delete"}}>取消订单</button>
                    {{/if}}
                    {{#if showRefund}}
                        <button class="button button-block" {{action "operate" "refund"}}>审核退款</button>
                    {{/if}}
                      {{#if showRefresh}}
                          <button class="button button-block" {{action "operate" "refund"}}>更新退款</button>
                      {{/if}}
                  </td>
              {{/unless}}
            </tr>
        </table>
    </div>
{{/if}}
{{yield}}
