<div class="site-path"><a href="javascript:;">推荐管理</a><span class="split"></span>已发布推荐</div>

<div class="entrance slide-in-down">
    <div class="toolbar">
        <div class="form-group form-inline">
            <label class="form-label">是否定时:</label>
            <select class="form-control" onchange={{action "typeChange" value="target.value"}}>
              {{#if (eq isFixedTime "0")}}
                  <option value="0" selected>否</option>
                  <option value="1">是</option>
              {{else}}
                  <option value="0">否</option>
                  <option value="1" selected>是</option>
              {{/if}}
            </select>
        </div>
        <button class="button button-theme" {{action "search"}}>查询</button>
      {{#if hasPostNew}}
          <p class="text-info"><i class="fa fa-info-circle"></i>您刚刚发布了一个新的推荐,请刷新</p>
      {{/if}}
    </div>

  {{#pre-loader color="theme" visible=isLoading}}{{/pre-loader}}

  {{#if dataList}}
      <table class="table-c-list">
          <thead class="bg-theme">
          <tr>
              <th>ID</th>
              <th>封面图片</th>
              <th>标题&内容</th>
              <th>所属分类</th>
              <th>发布时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {{#each dataList as |item i|}}
            {{#table-topic-listing index=i topic=item}}
                <div class="table-c-other">
                    <a title="查看详情" {{action "detail" item}}
                       href="javascript:;"
                       class="button button-primary">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a title="删除" {{action "toggleDeleteDialog" true item}}
                       href="javascript:;"
                       class="button button-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            {{/table-topic-listing}}
          {{/each}}
          </tbody>
      </table>
  {{else}}
    {{#unless isLoading}}
        <p>未查询或没有查询到结果</p>
    {{/unless}}
  {{/if}}

  {{#if totalPage}}
      <div class="site-body-footer text-center">
        {{#pagination-view classNames="pagination-theme" current=currentPage total=totalPage onChange=(action "pageChange")}}{{/pagination-view}}
      </div>
  {{/if}}
</div>

{{#modal-dialog width="350px" fade=true show=toggleDeleteDialog title="警告"}}
    <p>你确定删除这条推荐吗?</p>
    <button class="button button-danger" {{action "delete"}}>
      {{#if isDeleting}}
          <i class="fa fa-spinner fa-spin"></i>
      {{else}}
          确认删除
      {{/if}}
    </button>
    <input type="button" class="button" value="取消" {{action "toggleDeleteDialog" false}}>
{{/modal-dialog}}

{{#modal-dialog width="450px" fade=true show=toggleDetailDialog title="帖子详情"}}
  {{#pre-loader color="theme" visible=detailLoading}}{{/pre-loader}}
  {{#if dataDetail}}
      <h4 class="text-grey">
        {{{dataDetail.Title}}}
      </h4>
      <div class="media-content" style="word-wrap: break-word;">
        {{{dataDetail.MediaContent}}}
      </div>
  {{/if}}
{{/modal-dialog}}