
<div class="site-path"><a href="javascript:;">banner管理</a></div>
<div class="entrance slide-in-down">
    <div class="toolbar">
        <div class="form-group form-inline">
            <label class="form-label">分类:</label>
            <select class="form-control" style="width: 173px" onchange={{action "bannerTypeChange" value="target.value"}}>
                {{#each bannerTypes as |type|}}
                    {{#if (eq bannerType type.value)}}
                        <option selected value={{type.value}}>{{type.desc}}</option>
                    {{else}}
                        <option value={{type.value}}>{{type.desc}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
        <div class="form-group form-inline">
            <label class="form-label">显示顺序:</label>
            <select class="form-control" style="width: 173px" onchange={{action "sepChange" value="target.value"}}>
                <option  value="0">全部</option>
                {{#each seqTypes as |type|}}
                    {{#if (eq seq type.value)}}
                        <option selected value={{type.value}}>{{type.desc}}</option>
                    {{else}}
                        <option value={{type.value}}>{{type.desc}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>
        <button class="button button-theme" {{action "search"}}>查询</button>
        <div class="form-group form-inline pull-right">
            {{#link-to "main.shop.bannerdetail" (query-params type="add" ID=-1) class="button pull-right"}}
                <i class="fa fa-plus"></i>
                添加banner
            {{/link-to}}
        </div>
    </div>
    {{#data-pagination-view isLoading=isLoading onPageChange=(action 'search') totalCount=totalCount data=pageDataList totalPage=totalPage currentPage=currentPage}}
        <table class="table table-block  table-theme">
            <thead>
            <tr>
                <th>大图</th>
                <th>名称</th>
                <th>显示顺序</th>
                <th>类型</th>
                <th>连接到</th>
                <th>操作</th>
            </tr>
            </thead>
            {{#each pageDataList as |data|}}
                <tr>
                    <td class="text-left" >
                        {{img-loader classNames="thumb thumb-x1 " tagName="div" original=(file-path data.Image) onClick=(action "showFullImage" (file-path data.Image))}}</td>
                    <td class="text-center">{{data.Name}}</td>
                    <td class="text-center">{{data.Seq}}</td>
                    <td class="text-center">{{data.Type}}</td>
                    <td class="text-center">{{data.Link}}</td>
                    <td class="text-center">
                        {{#link-to "main.shop.bannerdetail" (query-params ID=data.ID type="detail") class="button"}}编辑{{/link-to}}
                        <button class="button button-danger" {{action 'deleteClick' data.ID}}>删除</button>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/data-pagination-view}}
</div>
{{outlet}}
